<nav class="container">
  <div class="header">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <svg-icon [svgStyle]="{'width':'150px'}" src="assets/svg/logo-text.svg"></svg-icon>

      <div fxLayout="row" fxLayoutGap="15px">
        <a href="javascript:void(0)" class="btn">Why Fudo?</a>
        <a href="javascript:void(0)" class="btn">Services</a>
        <a href="javascript:void(0)" class="btn">Menu</a>
        <a href="javascript:void(0)" class="btn">Contact</a>
      </div>

      <div>
        <button>Login</button>
      </div>
    </div>

  </div>
</nav>
