<nav class="header">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a href="javascript:void(0)" routerLink="/home">
      <svg-icon [svgStyle]="{'width':'150px'}" src="assets/svg/logo-text.svg"></svg-icon>
    </a>

    <app-search></app-search>

    <div>
      <app-avatar src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg"></app-avatar>
<!--      <a href="javascript:void(0)" class="btn btn-primary">Login</a>-->
    </div>
  </div>

</nav>
