<div class="container">
  <p>register works!</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="fill">
        <mat-label for="name">Nome</mat-label>
        <input id="name" formControlName="name" matInput>
        <mat-error *ngIf="form.controls.name.hasError('required')">{{getErrorMessage('required')}}</mat-error>
        <!--<mat-error *ngIf="form.controls.name.invalid">{{}}</mat-error>-->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="email">E-mail</mat-label>
        <input id="email" formControlName="email" matInput>
        <mat-error *ngIf="form.controls.email.hasError('required')">{{getErrorMessage('required')}}</mat-error>
        <mat-error *ngIf="form.controls.email.hasError('pattern')">{{getErrorMessage('invalid')}}</mat-error>
        <!--<mat-error *ngIf="form.controls.email.hasError('email')">{{getErrorMessage('pattern')}}</mat-error>-->
        <!--<mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="phone">Phone</mat-label>
        <input id="phone" formControlName="phone" mask="(00) 0000-0000||(00) 00000-0000"
               inputmode="numeric" matInput>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="!form.valid">Submit
    </button>
  </form>

  <h2>Objeto</h2>
  <p>Primeiro Nome: {{form.getRawValue().name}}</p>
  <p>Ultimo Nome: {{form.getRawValue().email}}</p>

  <button mat-raised-button>Hello</button>
  <button mat-raised-button (click)="openBottomSheet()">Bottom sheet</button>
  <button mat-button (click)="openDialog()">Open dialog</button>

</div>
