@use '@angular/material' as mat;


/* Color Theme Swatches in Hex */
$primary-color: #011F26;
$secondary-color: #F2A71B;
$tertiary-color: #025E73;
$neutral-color: #BFB78F;
$neutral-variant-color: #A5A692;

//PALETTE
$mat-primary: (
  50: #ddeef4,
  100: #b9d2d7,
  200: #93b1b9,
  300: #6d929c,
  400: #517c87,
  500: #336672,
  600: #295863,
  700: #1c454f,
  800: #0f333b,
  900: #011f26,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$mat-secondary: (
  50: #fefde7,
  100: #fcf8c3,
  200: #faf49b,
  300: #f8f073,
  400: #f5eb53,
  500: #f3e632,
  600: #f5d62f,
  700: #f3bf25,
  800: #f2a71b,
  900: #ef7e06,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$primary-palette: mat.define-palette($mat-primary, 900);
$secondary-palette: mat.define-palette($mat-secondary, 800);
