@use '@angular/material' as mat;

$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif;

//PALETTE
$mat-primary: (
  50: #e6eaef,
  100: #c0cbda,
  200: #99aac0,
  300: #7289a6,
  400: #537095,
  500: #325886,
  600: #2b507e,
  700: #234772,
  800: #1d3d66,
  900: #172d4d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$mat-secondary: (
  50: #fef8e1,
  100: #feecb3,
  200: #fde081,
  300: #fcd54e,
  400: #fcca26,
  500: #fcc100,
  600: #fcb300,
  700: #fca000,
  800: #fd8f00,
  900: #fd7000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$primary: mat.define-palette($mat-primary, 900);
$secondary: mat.define-palette($mat-secondary, 500);

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;

/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$radius: 4px;
