/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'front/variable';
@import 'front/theme';


/* MODAL */
.cdk-overlay-container {
  background: rgba(0, 0, 0, .32);
}
