
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 16px;
}


@import 'front/variable';
@import 'front/theme';

@import 'front/container';
@import 'front/button';
