html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

@import 'front/variable';
@import 'front/theme';

@import 'front/components/container';
@import 'front/components/header';
@import 'front/components/nav-bar';
@import 'front/components/button';
