<div class="container">
  <span class="mat-display-4">display-4</span>
  <p class="mat-body-1">112px, cabeçalho único, geralmente no topo da página (por exemplo, um cabeçalho de herói).</p>
  <span class="mat-display-3">display-3</span>
  <p class="mat-body-1">56px, cabeçalho único, geralmente no topo da página (por exemplo, um cabeçalho de herói).</p>
  <span class="mat-display-2">display-2</span>
  <p class="mat-body-1">45px, cabeçalho único, geralmente no topo da página (por exemplo, um cabeçalho de herói).</p>
  <span class="mat-display-1">display-1</span>
  <p class="mat-body-1">34px, cabeçalho único, geralmente no topo da página (por exemplo, um cabeçalho de herói).</p>
  <span class="mat-headline">headline</span>
  <p class="mat-body-1">Título da seção correspondente à <code>h1</code> tag.</p>
  <span class="mat-title">title</span>
  <p class="mat-body-1">Título da seção correspondente à <code>h2</code> tag.</p>
  <span class="mat-subheading-2">subheading-2</span>
  <p class="mat-body-1">Título da seção correspondente à <code>h3</code> tag.</p>
  <span class="mat-subheading-1">subheading-1</span>
  <p class="mat-body-1">Título da seção correspondente à <code>h4</code> tag.</p>
  <span class="mat-body-1">body-1</span>
  <p class="mat-body-1">Texto base do corpo.</p>
  <span class="mat-body-2">body-2</span>
  <p class="mat-body-1">Corpo de texto mais ousado.</p>
  <span class="mat-caption">caption</span>
  <p class="mat-body-1">Corpo menor e texto de dica.</p>
  <span class="mat-button">button</span>
  <p class="mat-body-1">Botões e âncoras.</p>
  <span class="mat-input">input</span>
  <p class="mat-body-1">Campos de entrada de formulário.</p>
</div>
